*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-title{
    background-color: aquamarine;
    padding: 15px;
}

.container{
    width: 95%;
    margin: 0 auto;
}

.container .completed{
    border-top: 1px solid gray;
}

.current{
    padding: 20px 0;
}

h3{
    font-size: 1.6rem;
    padding: 15px 0;
}

li{
    list-style: none;
}

.pad-li{

    padding: 10px 0;
}

li div{

    padding: 3px 0;
}

.state{

    background-color: rgb(255, 106, 0);
    color: white;
    padding: 5px 10px;
    display: inline;
}